/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
.container .text-muted {
  margin: 20px 0;
  float: right;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* Web Portal Back End Interface Custom Styles 
--------------------------------------------------- */

/* highlight light grey to indicate current page you are on */
.home nav ul li a.home,
.item nav ul li a.item,
.collection nav ul li a.collection,
.exhibit nav ul li a.exhibit {
    background-color: #eee;
}

.home nav ul li a.home:hover,
.item nav ul li a.item:hover,
.collection nav ul li a.collection:hover, 
.exhibit nav ul li a.exhibit:hover  {
    background-color: #eee;
}

#logo {
	margin: 20px 0;
}

/* Panel that holds main content */
.panel {
	margin: auto;
}

/* positioning and styling of the search box and buttons */ 

.input-group-addon {
	background: transparent;
}

.input-group-addon button {
	border: none;
	background: transparent;
}

.input-group-addon:hover {
	background-color: #e6e6e6;
}

.glyphicon-search {
	font-size: 12px;
}

/* Edit and Remove buttons */

#editButton {
	border: none;
	background-color: transparent;
}

#editButton:hover {
	color: #639fff;
	background-color: transparent;
}

/* Create Collections form styles */
#col_form, #exhibit_form {
	padding: 20px;
}

.art_search {
	margin: auto;
	padding-bottom: 20px;
	width: 60%;
}

#colTable, #exhibitTable {
	border-radius: 4px;
}

#colTableContainer, #exTableContainer {
	margin-top: 20px;
	margin-bottom: 30px;
}

#artefactsTable {
	border-radius: 4px;
}

/* Highlight checked table rows */
.selected {
	background-color: #e6e6e6;
}

/* Login Form */
.login-form {
	margin: auto;
	padding: 10px 30px 20px 30px;
}

#login-container {
	width: 400px;
	margin-top: 50px;
}

input[type="username"] {
	margin-bottom: 10px;
}

input[type="password"] {
	margin-bottom: 20px;
}

.login-form button {
	background-color: #f5f5f5;
}

/* Add Item Style */
.required-fields {
	color: #ff0000;
}







